* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 40px;
}

header h1 {
  color: #FF6B00; /* Laranja */
  font-size: 2em;
  margin-bottom: 10px;
}

header p {
  color: #E50914; /* Vermelho */
  font-size: 1.1em;
  margin-bottom: 30px;
}

.btn {
  display: block;
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
  padding: 15px;
  text-decoration: none;
  background-color: #FF6B00;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #E50914;
}

footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #999;
}
